# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/app_index/vendor
/app_noindex/vendor

# composer itself is not needed
/app_index/composer.phar
/app_noindex/composer.phar

# composer lock
/app_index/composer.lock
/app_noindex/composer.lock

#vagrant folder
/app_index/.vagrant
/app_noindex/.vagrant

/docker/mysql/dumps/*